/* =========== DEFAULT  ============ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========== DEFAULT  ============ */

/* =========== HEADER  ============ */

/* Mobile */

.nav-list {
  display: none;
}

.address {
  display: none;
}

.nav-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header .nav .nav-logo > span {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .menu-open {
    border: 0;
    background-color: transparent;
  }
  .header .container {
    padding: 16px;
    min-width: 90%;
    margin: 0 auto;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .header .container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }
  .menu-open {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .address {
    display: flex;
    font-style: normal;
  }

  .address-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
  }

  .header .address-list-item > a {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
  .nav-list-item {
    position: relative;
  }
  .header .nav-list-item-link {
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
  }
  .header .nav-list-item:first-child::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    display: inline-block;
    border-bottom: 0px solid #404bbf;
    bottom: 0;
    opacity: 1;
    transition: border-bottom 0.1s, transform 0.1s;
    transform: scale(1, 0);
  }

  .header .nav-list-item:first-child::after {
    border-bottom: 3px solid #404bbf;
    transform: scale(1);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    margin-right: 120px;
  }
}

/* Dekstop */

@media screen and (min-width: 1158px) {
  .header .container {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }
  .nav-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header .address-list-item > a {
    font-size: 16px;
  }
}
