/* =========== DEFAULT  ============ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
  }
}

img {
  display: block;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========== DEFAULT  ============ */

/* =========== HEADER  ============ */

/* Mobile */

.nav-list {
  display: none;
}

.address {
  display: none;
}

.menu-open {
  border: 0;
  background-color: transparent;
}

.nav-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.header .nav .nav-logo > span {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .container {
  width: 1158px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container .nav,
.header .container .nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.header .container .address .address-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.header .nav .nav-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.header .nav .nav-logo > span {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header .nav-list-item > a:hover,
.nav-list-item > a:focus,
.nav-list-item > a:active {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.header .address-list-item > a {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header
  .container
  .address
  .address-list
  .address-list-item
  .address-list-item-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item > a:hover,
.address-list-item > a:focus {
  color: #404bbf;
}

.nav-list-item-link:hover,
.nav .nav-list-item-link:focus {
  color: #404bbf;
}

.header .nav-list-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.header
  .container
  .nav
  .nav-list
  .nav-list-item:first-child
  .nav-list-item-link {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header
  .container
  .nav
  .nav-list
  .nav-list-item:first-child
  .nav-list-item-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
} */

/* =========== HEADER  ============ */

/* =========== MAIN  ============ */

/* =========== HERO  ============ */

.main .hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_bg.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}

.main .hero .container .hero-title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  max-width: 496px;
}

.main .hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.main .hero .container .hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: block;
  margin: 0 auto;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main .hero-button:hover,
.main .hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* =========== HERO  ============ */

/* =========== FEATURES  ============ */

.features {
  padding: 120px 0;
}

.features
  .features-container
  .features-list
  .features-list-item
  .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
}

.features .features-container .features-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.features .features-list .features-list-item {
  width: calc((100% - 72px) / 4);
}

.features .features-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.features .features-list-item-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* =========== FEATURES  ============ */

/* =========== TEAM  ============ */

.team .container {
  display: block;
}

.team .container .team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team .container .team-list .team-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}

.team .container .team-list-item-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
}

.team .team-list-item {
  background: var(--WHITE, #fff);
  width: calc((100% - 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team .team-list .team-list-item .team-list-item-container {
  padding: 32px 0;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.team
  .container
  .team-list
  .team-list-item
  .team-list-item-container
  .icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.team
  .container
  .team-list
  .team-list-item
  .team-list-item-container
  .icons-list
  .icons-list-item {
  width: 40px;
  height: 40px;
}

.icons-list-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list-item-link:focus,
.icons-list-item-link:hover {
  background-color: #404bbf;
}

.svg {
  fill: #f4f4fd;
}

/* =========== TEAM  ============ */

/* =========== PORTFOLIO  ============ */

.portfolio {
  padding: 120px 0;
}

.portfolio .container {
  display: block;
}

.portfolio .container .portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio .container .portfolio-list .portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .container .portfolio-list .portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio
  .container
  .portfolio-list
  .portfolio-list-item:hover
  .portfolio-list-item-img
  .portfolio-list-item-img-p {
  transform: translateY(0);
}

.portfolio .container .portfolio-list .portfolio-list-item > img {
  object-fit: cover;
}

.portfolio
  .container
  .portfolio-list
  .portfolio-list-item
  .portfolio-list-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .portfolio-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio .portfolio-list-item-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.portfolio
  .container
  .portfolio-list
  .portfolio-list-item
  .portfolio-list-item-img {
  position: relative;
  overflow: hidden;
}

.portfolio
  .container
  .portfolio-list
  .portfolio-list-item
  .portfolio-list-item-img
  .portfolio-list-item-img-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========== PORTFOLIO  ============ */

/* =========== FOOTER  ============ */

.footer .footer-logo .footer-logo-span {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer .footer-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer .footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 264px;
  text-transform: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .footer-logo-container {
  display: block;
  margin-right: 120px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.footer .container .footer-social .social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer .container .footer-social .social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-list .social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-list-item .social-media-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-item-link:hover,
.social-media-list-item-link:focus {
  background-color: #31d0aa;
}

.link-icon {
  fill: #f4f4fd;
}

.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-wrapper {
  display: flex;
  gap: 24px;
}

.footer-form-email {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

.footer-form-email::placeholder {
  color: #fff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.icon-sub {
  margin-left: 16px;
}

.footer-form {
  margin-left: auto;
}

/* =========== FOOTER  ============ */

/* =========== MODAL============== */

.is-hidden {
  visibility: hidden;
  /* z-index: 100; */
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 99999999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

.modal-close-btn {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover .modal-close-btn-icon {
  fill: #fff;
  stroke: #fff;
}

.modal-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE, #2e2f42);
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.modal-form-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus ~ .input-icon {
  fill: #4d5ae5;
}

.form-input {
  position: relative;
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  font-size: 12px;
  height: 120px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE, #8e8f99);
}

.checkbox-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox:checked + .checkbox-label > .checkbox-label-span {
  background-color: var(--background, #404bbf);
  border: none;
  fill: var(--OCEAN, #f4f4fd);
}

.policy {
  color: var(--IRIS, #4d5ae5);
  margin-left: 5px;
}

.button-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--WHITE, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  margin: 0 auto;
}

.button-submit:hover {
  background-color: #404bbf;
}
